.container {
    height: 30vh;
    background-color: aqua;
}

/*.barra_arriba {
    height: 20vh;
    border: 1px solid black;
}

.izquierda {
    height: 50vh;
    border: 1px solid black;
}

.derecha {
    height: 50vh;
    border: 1px solid black;
}

.cajas {
    height: 20vh;
    border: 1px solid black;
}*/

.caja1 {
    height: 10vh;
    background-color: red;
}

.caja2 {
    height: 10vh;
    background-color: black;
}
