.container {
    height: 30vh;
    background-color: aqua;
}

.barra_arriba {
    height: 20vh;
    border: 1px solid black;
}

.izquierda {
    height: 50vh;
    border: 1px solid black;
}

.derecha {
    height: 50vh;
    border: 1px solid black;
}

.caja1 {
    height: 20vh;
    border: 1px solid black;
    width: 60%;
}

.caja2 {
    height: 20vh;
    border: 1px solid black;
    width: 40%;
}

.row {
    padding: 10px;
}